.consumers {
    text-align: center;
}

.consumers__heading {
    font-size: 23px;
    font-weight: normal;
    margin-top: 0;
}

.consumers__item-link {
    padding: 20px;
    display: inline-block;
}

.consumers__item-link:hover {
    background: #f1f1f1;
}
